{% extends 'base.html.twig' %}

{% block title %}Sri Lanka certified Level 1 hotels{% endblock %}

{% block stylesheets %}
    <style>
        html, body, #map {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=5295203d-86d0-48b2-80bc-ecc2312ae717"
            type="text/javascript"></script>

    <script>
        const hotels = {{ hotels | json_encode | raw }};

        ymaps.ready(() => {
            const map = new ymaps.Map("map", {
                center: [7.927079, 80.861244],
                zoom: 8
            }, {
                searchControlProvider: 'yandex#search'
            });

            hotels.forEach(hotel => {
                map.geoObjects.add(new ymaps.Placemark([hotel.latitude, hotel.longitude], {
                    balloonContent: `<div style="display: flex; flex-direction: column; gap: 0.25rem">
<div><b>Name</b>: ${hotel.name}</div>
<div><b>Area</b>: ${hotel.area}</div>
<div><b>Category</b>: ${hotel.category}</div>
<div><b>Valid from: ${hotel.validFrom.date.split(' ')[0]}</b></div>
<div><b>Website: ${hotel.website ? `<a href="${hotel.website}" target="_blank">${hotel.website}</a>` : 'No website'}</b></div>
</div>`
                }))
            })
            }
        );
    </script>
{% endblock %}

{% block body %}
    <div id="map"></div>
{% endblock %}